body {
    background-color: #1a202c;
}

input:invalid {
    border-color: red;
}

.error-message {
    color: darkorange;
    display: none;
}

.error-message.active {
    display: block;
}

:is(.dark .dark\:bg-primary-600) {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.bg-primary-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.flash-alert-position {
    position: absolute;
    width: 80%;
    left: 0;
    right: 0;
    top: 60px;
    margin: auto;
    z-index: 1000;
}