{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}
{% block content %}
<div class="bg-gray-900 pt-8">
	<div class="container mx-auto px-4">
		<div class="flex justify-between items-center">
			{% if url_for(request.endpoint) == url_for('product.favorites') %}
			<h2 class="text-3xl font-bold text-white my-8">
				Your Favorite Products
			</h2>
			{% else %}
			<h2 class="text-3xl font-bold text-white my-8">
				Introducing Our Latest Product
			</h2>
			{% endif %}
			{% if current_user.is_authenticated %}
			<a href="{{ url_for('product.create') }}"
				class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
				Create a Product
			</a>
			{% endif %}
		</div>
		<hr class="mb-8" />
		{% if products|length > 0 %}
		<div class="grid w-full sm:grid-cols-2 xl:grid-cols-4 gap-6">
			{% for product in products %}
            {% include 'components/product-card.html' %}
            {% endfor %}
		</div>
		{% else %}
			{% if url_for(request.endpoint) == url_for('product.favorites') %}
			<p class="text-white text-center text-2xl mt-8">You have no favorite products yet.</p>
			{% elif current_user.is_authenticated %}
			<p class="text-white text-center text-2xl mt-8">No products found. You can <a href="{{ url_for('product.create') }}" class="text-blue-700 hover:text-blue-500">create a product</a> now.</p>
			{% else %}
			<p class="text-white text-center text-2xl mt-8">No products found. You can <a href="{{ url_for('auth.register') }}" class="text-blue-700 hover:text-blue-500">register</a> or <a href="{{ url_for('auth.login') }}" class="text-blue-700 hover:text-blue-500">login</a> with your account, and create your products.</p>
			{% endif %}
		{% endif %}
	</div>
	{% endblock %}
</div>
