<footer class="bg-white rounded-lg shadow dark:bg-gray-900 my-4 w-full bottom-0">
	<div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
		<hr
			class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
		/>
		<span
			class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
			>© 2024
			<a href="https://vranjskagimnazija.edu.rs/" target="_blank" rel="noopener noreferrer" class="hover:underline">Гимназија "Бора Станковић" Врање</a
			>. Сва права задржана.</span
		>
	</div>
</footer>
