{% set link_classes = "block py-2 px-3 text-gray-900 rounded hover:bg-gray-100
md:hover:bg-transparent md:border-0
md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white
md:dark:hover:bg-transparent" %}

{% set active_link = "block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0
dark:text-white md:dark:text-blue-500" %}
<nav class="bg-white border-gray-200 dark:bg-gray-900 sticky top-0">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="{{ url_for('static', filename='images/favicon-96x96.png') }}" class="h-8" alt="Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flask Shop</span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15" />
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul
                class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a href="{{ url_for('home.index') }}"
                        class="{{ active_link if request.path == url_for('home.index') else link_classes }}">
                        Home
                    </a>
                </li>
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('product.cart') }}"
                        class="{{ active_link if '/cart' in request.path else link_classes }}">
                        Shopping Cart
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('product.index', page=1) }}"
                        class="{{ active_link if '/product' in request.path and '/cart' not in request.path else link_classes }}">
                        Products
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('category.index', page=1) }}"
                        class="{{ active_link if '/category' in request.path else link_classes }}">
                        Categories
                    </a>
                </li>
                {% endif %}
                <!-- Only admin can see this link -->
                {% if current_user.role_id == 1 %}
                <li>
                    <a href="{{ url_for('role.index', page=1) }}"
                        class="{{ active_link if '/role' in request.path else link_classes }}">
                        Roles
                    </a>
                </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <div class="flex items-center ml-3 md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                    <button type="button"
                        class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                        id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                        data-dropdown-placement="bottom">
                        <span class="sr-only">Open user menu</span>
                        <img class="w-8 h-8 rounded-full" src="{{ current_user.profile.get_profile_image }}"
                            alt="user photo">
                    </button>
                    <!-- Dropdown menu -->
                    <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
                        id="user-dropdown">
                        <div class="px-4 py-3">
                            <span class="block text-sm text-gray-900 dark:text-white">
                                {{ current_user.get_full_name }}
                            </span>
                            <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">
                                {{ current_user.email }}
                            </span>
                        </div>
                        <ul class="py-2" aria-labelledby="user-menu-button">
                            <li>
                                <a href="{{ url_for('dashboard.home') }}"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
                            </li>
                            <li>
                                <a href="{{ url_for('profile.index') }}"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Profile</a>
                            </li>
                            <li>
                                <a href="{{ url_for('product.favorites') }}"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                    Favorites
                                </a>
                            </li>
                            <!-- TODO: handle toggling between dark and light mode -->
                            <li onclick="toggleThemeColor()"
                                class="py-1 px-2 flex items-center cursor-pointer text-sky-500"
                                id="headlessui-listbox-option-:r1:" role="option" tabindex="-1" aria-selected="true"
                                data-headlessui-state="selected"><svg viewBox="0 0 24 24" fill="none"
                                    class="w-6 h-6 mr-2">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M17.715 15.15A6.5 6.5 0 0 1 9 6.035C6.106 6.922 4 9.645 4 12.867c0 3.94 3.153 7.136 7.042 7.136 3.101 0 5.734-2.032 6.673-4.853Z"
                                        class="fill-sky-400/20"></path>
                                    <path
                                        d="m17.715 15.15.95.316a1 1 0 0 0-1.445-1.185l.495.869ZM9 6.035l.846.534a1 1 0 0 0-1.14-1.49L9 6.035Zm8.221 8.246a5.47 5.47 0 0 1-2.72.718v2a7.47 7.47 0 0 0 3.71-.98l-.99-1.738Zm-2.72.718A5.5 5.5 0 0 1 9 9.5H7a7.5 7.5 0 0 0 7.5 7.5v-2ZM9 9.5c0-1.079.31-2.082.845-2.93L8.153 5.5A7.47 7.47 0 0 0 7 9.5h2Zm-4 3.368C5 10.089 6.815 7.75 9.292 6.99L8.706 5.08C5.397 6.094 3 9.201 3 12.867h2Zm6.042 6.136C7.718 19.003 5 16.268 5 12.867H3c0 4.48 3.588 8.136 8.042 8.136v-2Zm5.725-4.17c-.81 2.433-3.074 4.17-5.725 4.17v2c3.552 0 6.553-2.327 7.622-5.537l-1.897-.632Z"
                                        class="fill-sky-500"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M17 3a1 1 0 0 1 1 1 2 2 0 0 0 2 2 1 1 0 1 1 0 2 2 2 0 0 0-2 2 1 1 0 1 1-2 0 2 2 0 0 0-2-2 1 1 0 1 1 0-2 2 2 0 0 0 2-2 1 1 0 0 1 1-1Z"
                                        class="fill-sky-500"></path>
                                </svg>Dark</li>
                            <li>
                                <a href="{{ url_for('auth.logout') }}"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                    Sign out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <li>
                    <a href="{{ url_for('auth.register') }}" class="{{ link_classes }}">
                        Register
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('auth.login') }}" class="{{ link_classes }}">
                        Login
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>