{% extends 'base.html' %}

{% block title %}Roles{% endblock %}

{% block content %}

<div class="px-8 sm:px-16">
    <div class="flex justify-between items-center">
        <h1 class="text-white text-2xl">Roles</h1>
        <a href="{{ url_for('role.create' )}}"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Create a Role
        </a>
    </div>

    <hr class="my-4">

    <div class="overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th class="p-4">
                        #
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Role name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Description
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for role in roles %}
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <input type="hidden" name="roleId{{ role.id }}" id="roleId{{ role.id }}" value="{{ role.id }}">
                    <td class="w-4 p-4">
                        {{ loop.index }}
                    </td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <div contenteditable>
                            {{ role.get_name }}
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        <div contenteditable>
                            {{ role.description }}
                        </div>
                    </td>
                    <td class="flex items-center px-6 py-4">
                        <button class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-3"
                            data-type="role" data-resource-id="{{ role.id }}"
                            onclick="updateResource(this)">Edit</button>
                        <button class="font-medium text-green-600 dark:text-green-500 hover:underline mr-3"
                            data-type="role" data-resource-id="{{ role.id }}" onclick="updateResource(this, true)"
                            style="display: none;">Update</button>
                        <button class="font-medium text-red-600 dark:text-red-500 hover:underline"
                            onclick="setResourceIdAndType(this)" data-resource-id="{{ role.id }}" data-type="role"
                            data-modal-target="deleteModal" data-modal-toggle="deleteModal">
                            Remove
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ render_pagination(roles, 'role.index')}}
</div>

{% endblock %}