{% extends 'base.html' %}

{% block title %}Roles{% endblock %}

{% block content %}

<div class="px-8 sm:px-16">
    <div class="flex justify-between items-center">
        <h1 class="text-white text-2xl">Roles</h1>
        <a href="{{ url_for('role.create' )}}"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Create a Role
        </a>
    </div>

    <hr class="my-4">

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th class="p-4">
                        #
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Role name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Description
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for role in roles %}
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="w-4 p-4">
                        {{ role.id }}
                    </td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <div contenteditable>
                            {{ role.get_name }}
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        <div contenteditable>
                            {{ role.description }}
                        </div>
                    </td>
                    <td class="flex items-center px-6 py-4">
                        <button class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-3"
                            onclick="updateRole(this)">Edit</button>
                        <button class="font-medium text-green-600 dark:text-green-500 hover:underline mr-3"
                            onclick="updateRole(this, true)" style="display: none;">Update</button>
                        <button class="font-medium text-red-600 dark:text-red-500 hover:underline"
                            onclick="setRoleId(this)" data-role-id="{{ role.id }}" data-modal-target="deleteModal"
                            data-modal-toggle="deleteModal">
                            Remove
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block script %}
<script>

    const afterActionMessageInPopuModal = document.getElementById('afterActionMessageInPopuModal');

    function setRoleId(button) {
        document.getElementById('resourceIdToBeDeleted').value = button.dataset.roleId;
    }

    let oldName = '';
    let oldDescription = '';

    /**
     * Update role
     *
     * @param {HTMLElement} element - the button element
     * @param {boolean} update - if true, update the role
     */
    function updateRole(element, update = false) {
        const row = element.closest('tr');
        element.style.display = 'none'
        element.nextElementSibling.style.display = 'block';
        const id = row.querySelector('td:nth-child(1)').innerText;
        const name = row.querySelector('td:nth-child(2) div').innerText;
        const description = row.querySelector('td:nth-child(3) div')

        if (!update) {
            oldName = name;
            oldDescription = description.innerText;
        }

        !update && description.focus();

        if (update) {
            fetch(`/roles/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: name,
                    description: description.innerText
                })
            })
                .then(response => {
                    if (response.status == 200) {
                        changeIconColor();
                        afterActionMessageInPopuModal.innerText = 'Role updated successfully.';
                    } else {
                        name.innerText = oldName;
                        description.innerText = oldDescription;
                        changeIconColor(false);
                        afterActionMessageInPopuModal.innerText = 'Role cannot be updated.';
                    }
                    const button = document.getElementById('showHidePopupModal');
                    button.click();
                    element.previousElementSibling.style.display = 'block';
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    }

    /**
     * Remove role
     */
    function removeRole() {

        const id = document.getElementById('resourceIdToBeDeleted').value;
        const button = document.querySelector(`[data-role-id="${id}"]`);
        row = button.closest('tr');


        fetch(`/roles/${id}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (response.status === 200) {
                    afterActionMessageInPopuModal.innerText = 'Role deleted successfully.';
                    changeIconColor();
                    row.remove();
                } else {
                    changeIconColor(false);
                    document.getElementById('resourceCantBeDeletedMessage').value = 'Role cannot be deleted. There are users associated with this role.';
                    afterActionMessageInPopuModal.innerText = 'Role cannot be deleted. There are users associated with this role.';
                }
                const button = document.getElementById('showHidePopupModal');
                button.click();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
{% endblock %}