<!DOCTYPE html>
<html class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block style %}{% endblock %}
</head>

<body class="bg-gray-50 dark:bg-gray-900">

    <!-- Include hidden input fields for different purposes -->
    {% include 'components/hidden-input-fields.html' %}

    {% from 'components/macros/alert.html' import alert %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {{ alert(message, category, loop.index) }}
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% if url_for(request.endpoint) not in ['/auth/register', '/auth/login'] %}
    {% include 'partials/navbar.html' %}
    {% endif %}

    {% block content %}{% endblock %}

    {% block script %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>