<!DOCTYPE html>
<html class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block style %}{% endblock %}
</head>

{% if url_for(request.endpoint) in ['/auth/register', '/auth/login'] %}

<body class="bg-gray-50 dark:bg-gray-900">
    <!-- <body class="flex items-center justify-center h-screen text-white"> -->
    {% else %}

    <body>
        {% endif %}

        {% if url_for(request.endpoint) not in ['/auth/register', '/auth/login'] %}
        {% include 'partials/navbar.html' %}
        {% endif %}

        {% block content %}{% endblock %}

        {% block script %}{% endblock %}

        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>

</html>