{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}
{% block content %}
<div class="bg-gray-900 py-16">
	<div class="container mx-auto px-4">
		<h2 class="text-3xl font-bold text-white my-8">
			Introducing Our Latest Product
		</h2>
		<hr class="mb-8" />
		{% if products|length > 0 %}
		<div class="grid w-full sm:grid-cols-2 xl:grid-cols-4 gap-6">
			{% for product in products %}
            {% include 'components/product-card.html' %}
            {% endfor %}
		</div>
		{% else %}
			<!-- Hard-coded products -->
			{% include 'hardcoded-html/products.html' %}
		{% endif %}
	</div>
	{% endblock %}
</div>
